@import "global";

.main{
height: 90vh;
width: 100vw;

}

.mainBack{
    width: 100%;
    height: 350px;
    object-fit: cover;
    position: relative;
}

#imageGradient::after{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(41,43,55);
    background: linear-gradient(0deg, rgba(41,43,55,1) 5%, rgba(0,6,67,0.8015581232492998) 100%);
    height: 350px;
    width: 100%;
    content: '';
}

.header {
    height: 7vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 3rem;
    padding-right: 3rem;
    top: 0;
    left: 0;
}
#logo{
    height: 4.8rem;
    width: 4.8rem;
}

#shareIcon{
    height: 3rem;
    width: auto;
}

.streamInfo{
    height: 50vh;
    width: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    
}

#track{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        height: 18rem;
        width: 18rem;
        border-radius: 2.5rem;
    }
}

#trackInfo{
    height:15%;
    width: 100%;
    color: white;
    text-align: center;
    line-height: 3rem;
    
    h3{
        font-size: 2.5rem;
    }
    h5{
        font-weight: 300;
        font-size: 1.2rem;
        color: gray;
    }
}

#listenerCount{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    img{height: 1.3rem;
    }
    h3{
        margin-left: .5rem;
        font-size: 1.3rem;
        color:hsl(234, 17%, 12%); 
    }
    

}

.player{
    height:43vh ;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.chat{
    height: 90vh;
    width: 100vw;
    background-color: white;
    display: none;
    }


.info{
    display: none;
    height: 90vh;
    width: 100vw;
    background-color: pink;
        }

.footer{
    height: 10vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: 0 ;
    background-color: hsl(234, 17%, 12%);
    box-shadow: 0px -6px 5px 0px rgba(0,0,0,0.50);
-webkit-box-shadow: 0px -6px 5px 0px rgba(0,0,0,0.50);
-moz-box-shadow: 0px -6px 5px 0px rgba(0,0,0,0.50);
}